body {
    background-color: #E5E0DF;
}

.container {
    position: relative;
    height: 500px;
    width: 500px;
    border: 5px solid black;
    margin: auto;
    margin-top: 100px;
    background-color: #CAC7C7;
}


.log {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    margin-left: 2px;
    margin-top: 2px;
    border: 1px solid #CAC7C7;
    height: 120px;
    width: 110px;
}

.text {
    font-size: 0.7rem;
    position: relative;
    height: 15px;
    width: 110px;
    border: 1px solid #CAC7C7;
}


.player {
    text-align: center;
    font-size: 2rem;
    position: absolute;
    height: 50px;
    width: 50px;
}

#p0 {
    background-color: lightblue;
    border: 1px solid black;
    z-index: -1;
}

#p1 {
    background-color: lightcoral;
    border: 1px solid black;
    z-index: -1;
}

#p2 {
    background-color: lightgreen;
    border: 1px solid black;
    z-index: -1;
}